#imagem1 { width: 100%;}
body {
    background:#6699cc;
    }
.logo{
	background:#0099CC ;
	padding:15px ; 
text-align: center;}

	h1 {font-size: 40px;text-align:center ;color:black;}
	p{font-size 30px;}
	h2{font-size 40px;text-align:center ; color:black }

	.menu{background: #6699cc;
padding: 30px;
}

#imagem2 {width: %;}
